<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
<sesision-factory>
        <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>  
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>  
        <property name="connection.username">system</property>  
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>  
        <mapping resource="employee.hbm.xml"/>  
		<property name=”hibernate.connection.username”>system</property>
		<property name=”hibernate.connection.password”>1234</property>
		<mapping class="show_sql">true</mapping>
		<mapping class="model.entity.Product"/>
		<mapping class="model.entity.Customer"/>
</sesision-factory>
</hibernate-configuration>